.content {
    font-family: proxima-nova,Helvetica Neue,sans-serif;
    font-weight: 200;
    font-size: 2.125rem;
    color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    line-height: 2.6875rem;
    margin: 10% 20% 11% 10%;
}

.heading {
    font-size: 6.125rem;
    font-weight: 300;
    align-self: left;
}