.message {
    font-family: proxima-nova,Helvetica Neue,sans-serif;
    font-weight: 200;
    font-size: 1rem;
    color: white;
    line-height: 1.2rem;
}


.heading {
    font-family: proxima-nova,Helvetica Neue,sans-serif;
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
    align-self: left;
}

@media (min-width : 768px){
    .heading {
        font-size: 6.125rem;
    }

    .message {
        font-size: 2.125rem;
        line-height: 2.6875rem;
    }
}
