<div class="modal-header">
  <h4 class="modal-title">Moments</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ngb-carousel>
    <ng-template ngbSlide>
      <img class="carousel-slide" src="../../assets/pics/1.JPG" alt="Not loaded">
    </ng-template>
    <ng-template ngbSlide>
      <img class="carousel-slide" src="../../assets/pics/2.JPG" alt="Not loaded">
    </ng-template>
    <ng-template ngbSlide>
      <img class="carousel-slide" src="../../assets/pics/3.JPG" alt="Not loaded">
    </ng-template>
    <ng-template ngbSlide>
      <img class="carousel-slide" src="../../assets/pics/4.JPG" alt="Not loaded">
    </ng-template>
    <ng-template ngbSlide>
      <img class="carousel-slide" src="../../assets/pics/5.JPG" alt="Not loaded">
    </ng-template>
    <ng-template ngbSlide>
      <img class="carousel-slide" src="../../assets/pics/6.JPG" alt="Not loaded">
    </ng-template>
  </ngb-carousel>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
