<div id="rsvp">
    <div class="hero center">
        <h1 id="wedding-names" class="left">
            Anshul <br>
            &amp; Ankur
        </h1>
        <p>Radisson Blu, Kaushambi, Delhi<br>Monday, March 12, 2018</p>
    </div>
</div>


<div id="rsvp" class="event-rsvp d-flex flex-column align-items-center col-list" style="position:relative">
    <div class="col-list-item active-item" id="nameAndEmail">
        <form name="nameAndEmail">
            <div class="col-12 question-title">Enter the details of the guest you would like to respond for</div>
            <div class="col-12 d-flex text-container flex-column">
                <div class="input-container">
                    <label for="firstName">
                        <input type="firstname" id="firstName" placeholder="First Name" name="first_name" required=""
                        class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
                        aria-required="true" aria-invalid="true">
                    </label>
                    <div class="col-12" aria-live="assertive" aria-hidden="true">
                        <div ng-message="required" class="ng-scope">This is required.</div>
                    </div>
                </div>
                <div class="input-container">
                    <label for="lastName">
                        <input type="lastname" id="lastName" placeholder="Last Name" name="last_name"
                        class="ng-pristine ng-untouched ng-valid ng-empty" aria-invalid="false">
                    </label>
                    <div class="col-12" aria-live="assertive" aria-hidden="true">
                    </div>
                </div>
                <div class="input-container input-container-email">
                    <label for="email">
                        <input type="email" id="email" placeholder="Email" name="email" required=""
                        aria-required="true" aria-invalid="true">
                    </label>
                    <div class="col-12 email-error ng-active ng-hide" aria-live="assertive" aria-hidden="true">
                        <div ng-message="required" class="ng-scope">Joy needs your email! Don’t worry,
                            <a target="_blank" href="https://withjoy.com/privacy/">we won’t spam you</a>.
                            We'll just send you an RSVP summary which allows you to update your responses at any time.
                        </div>
                    </div>
                </div>
                <div class="saving ng-hide" ng-show="savingQuestions['nameAndEmail']" aria-hidden="true">
                    <div class="loader"></div>
                </div>
            </div>
            <div class="submission-control d-flex justify-content-center" ng-if="!targetPersonAcquired">
                <input class="joy-event-button" type="submit" ng-disabled="savingQuestions['nameAndEmail']" value="that's me" aria-disabled="false">
            </div>
        </form>
    </div>
    <div class="col-list-item ng-hide active-item" id="nameAndEmail" aria-hidden="true">
        <form name="nameAndEmail">
            <div class="col-12 question-title">Confirm or update name and email address.</div>
            <div class="col-12 d-flex text-container flex-column">
                <div class="input-container">
                    <label for="firstName">
                        <input type="firstname" id="firstName" placeholder="First Name" name="first_name" required="" ng-model="targetPerson.editableFirstName" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" aria-required="true" aria-invalid="true">
                    </label>
                    <div class="col-12 ng-active ng-hide" aria-live="assertive" aria-hidden="true">
                        <div ng-message="required" class="ng-scope">This is required.</div>
                    </div>
                </div>
                <div class="input-container">
                    <label for="lastName">
                        <input type="lastname" id="lastName" placeholder="Last Name" name="last_name"
                        aria-invalid="false">
                    </label>
                    <div class="col-12 ng-inactive ng-hide"
                    aria-live="assertive" aria-hidden="true">
                </div>
            </div>
            <div class="input-container">
                <label for="email">
                    <input type="email" id="email" placeholder="Email" name="email"
                    aria-invalid="false">
                </label>
                <div class="col-12 ng-inactive ng-hide"
                aria-live="assertive" aria-hidden="true">
            </div>
        </div>
        <div class="saving ng-hide" ng-show="savingQuestions['nameAndEmail']" aria-hidden="true">
            <div class="loader"></div>
        </div>
    </div>
    <div class="submission-control d-flex justify-content-center">
        <input class="joy-event-button" type="submit"
        value="save" aria-disabled="false">
    </div>
</form>
</div>
<div class="col-list-bottom-spacer"></div>
</div>