<div class="mainpage">
    <div>
        <div class="left-pane">
            <div class="menuicon">
                <app-menu></app-menu>
            </div>
            <div class="intro-card">
                <app-intro></app-intro>
            </div>
        </div>
        <div class="right-pane">
            <div class="content-card">
                <app-welcome></app-welcome>
            </div>
            <div class="content-card">
                <app-schedule></app-schedule>
            </div>
            <div class="content-card">
                <app-location></app-location>
            </div>
            <!-- <div #rsvp class="rsvp content-card">
                <app-rsvp></app-rsvp>
            </div> -->
        </div>
    </div>
</div>
