.mainpage {
    font-family: proxima-nova,Helvetica Neue,sans-serif;
}

.content-card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-overflow-scrolling: touch;
    margin-bottom:20px;
}

@media (min-width : 768px) {
    .intro-card .heading {
        font-size: 2em;
        font-weight: 300;
        align-self: left;
    }

    .left-pane {
        position: fixed;
        bottom: 0;
        background-size: contain;
    }

    .right-pane {
        position: absolute;
        right: 0;
    }
    .menuicon {
        position: fixed;
        top: 0px;
        left: 0px;
    }
}

.left-pane {
    background-size: cover;
    background-position: center center;
    background-image: url('../assets/pics/home.png');
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    height: 100vh;
}

.right-pane {
    padding: 0px;
    margin: 0px;
}

.menuicon {
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    top: 30px;
    left: 10px;
    padding: 30px;
    -ms-flex-align: center;
    align-items: center;
    background-repeat: no-repeat;
    z-index: 900;
}

.intro-card {
    position: absolute;
    bottom: 0px;
    font-family: proxima-nova,Helvetica Neue,sans-serif;
    font-weight: 200;
    font-size: 2.125rem;
    color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    line-height: 2.6875rem;
    margin: 10% 20% 11% 10%;
}

.intro-card .heading {
    font-size: 6.125rem;
    font-weight: 300;
    align-self: left;
}
