<div id="schedule" class="flexcenter section-component">
    <div class="schedule-header">Schedule</div>
    <div *ngIf="isFullInvite()" class = "date-row">
        <div class="date-header">SATURDAY, MARCH 10, 2018</div>
        <div class="event-list">
            <div class="event-row row">
                <div class="event-time col-sm-2">
                    6:00 pm
                </div>
                <div class="event-details col-sm-10">
                    <div class="event-name">Sagaai</div>
                    <div class="event-location"><a href="https://www.google.com/maps/dir//Radisson+Blu+Kaushambi+Delhi+NCR,+H-3,+Sector+14,+Kaushambi,+Ghaziabad,+Uttar+Pradesh+201010/@28.637013,77.2576397,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x390cfb2b7666fef5:0xa24a557ac91e9ab!2m2!1d77.32768!2d28.637031">Radisson Blu Kaushambi Delhi NCR, Ghaziabad, Uttar Pradesh, India</a></div>
                    <div class="event-description">The auspicious ring exchange that marks the beginning of a new partnership.</div>
                    <div class="calendar-button">Add To Calendar</div>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="isFullInvite()" class="date-row">
        <div class="date-header">SUNDAY, MARCH 11, 2018</div>
        <div class="event-list">
            <div class="event-row row">
                <div class="event-time col-sm-2">
                    12:00 pm
                </div>
                <div class="event-details col-sm-10">
                    <div class="event-name">Mehendi</div>
                    <div class="event-location"><a href="https://www.google.com/maps/dir//Radisson+Blu+Kaushambi+Delhi+NCR,+H-3,+Sector+14,+Kaushambi,+Ghaziabad,+Uttar+Pradesh+201010/@28.637013,77.2576397,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x390cfb2b7666fef5:0xa24a557ac91e9ab!2m2!1d77.32768!2d28.637031">Radisson Blu Kaushambi Delhi NCR, Ghaziabad, Uttar Pradesh, India</a></div>
                    <div class="event-description">Applying mehendi to the bride and the groom before the wedding is one of the oldest Indian traditions.
                        <div class="event-dress-code">Dress Code: Shades of Green</div>
                    </div>
                    <div class="calendar-button">Add To Calendar</div>
                </div>
            </div>
            <div class="event-row row">
                <div class="event-time col-sm-2"> 6:00 pm</div>
                <div class="event-details col-sm-10">
                    <div class="event-name">Sangeet</div>
                    <div class="event-location"><a href="https://www.google.com/maps/dir//Radisson+Blu+Kaushambi+Delhi+NCR,+H-3,+Sector+14,+Kaushambi,+Ghaziabad,+Uttar+Pradesh+201010/@28.637013,77.2576397,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x390cfb2b7666fef5:0xa24a557ac91e9ab!2m2!1d77.32768!2d28.637031">Radisson Blu Kaushambi Delhi NCR, Ghaziabad, Uttar Pradesh, India</a></div>
                    <div class="event-description">Lets all rejoice for the happy couple by dancing to the tunes of Bollywood
                        <div class="event-dress-code">Dress Code: Cocktail</div>
                    </div>
                    <div class="calendar-button">Add To Calendar</div>
                </div>
            </div>
        </div>
    </div>
    <div class="date-row">
        <div class="date-header">MONDAY, MARCH 12, 2018</div>
        <div class="event-list">
            <div class="event-row row">
                <div class="event-time col-sm-2">
                    3:00 pm
                </div>
                <div class="event-details col-sm-10">
                    <div class="event-name">Ghurchari</div>
                    <div class="event-location"><a href="https://www.google.com/maps/dir//Radisson+Blu+Kaushambi+Delhi+NCR,+H-3,+Sector+14,+Kaushambi,+Ghaziabad,+Uttar+Pradesh+201010/@28.637013,77.2576397,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x390cfb2b7666fef5:0xa24a557ac91e9ab!2m2!1d77.32768!2d28.637031">Radisson Blu Kaushambi Delhi NCR, Ghaziabad, Uttar Pradesh, India</a></div>
                    <div class="event-description">
                        <div class="event-dress-code"></div>
                    </div>
                    <div class="calendar-button">Add To Calendar</div>
                </div>
            </div>
            <div class="event-row row">
                <div class="event-time col-sm-2">
                    5:00 pm
                </div>
                <div class="event-details col-sm-10">
                    <div class="event-name">Reassemble of Barat</div>
                    <div class="event-location"><a href="https://www.google.com/maps/dir//Radisson+Blu+Kaushambi+Delhi+NCR,+H-3,+Sector+14,+Kaushambi,+Ghaziabad,+Uttar+Pradesh+201010/@28.637013,77.2576397,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x390cfb2b7666fef5:0xa24a557ac91e9ab!2m2!1d77.32768!2d28.637031">Radisson Blu Kaushambi Delhi NCR, Ghaziabad, Uttar Pradesh, India</a></div>
                    <div class="event-description">
                        <div class="event-dress-code">Let's proceed to the venue with band baja and barat</div>
                    </div>
                    <div class="calendar-button">Add To Calendar</div>
                </div>
            </div>
            <div class="event-row row">
                <div class="event-time col-sm-2">
                    7:00 pm
                </div>
                <div class="event-details col-sm-10">
                    <div class="event-name">Phere</div>
                    <div class="event-location"><a href="https://www.google.com/maps/dir//Radisson+Blu+Kaushambi+Delhi+NCR,+H-3,+Sector+14,+Kaushambi,+Ghaziabad,+Uttar+Pradesh+201010/@28.637013,77.2576397,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x390cfb2b7666fef5:0xa24a557ac91e9ab!2m2!1d77.32768!2d28.637031">Radisson Blu Kaushambi Delhi NCR, Ghaziabad, Uttar Pradesh, India</a></div>
                    <div class="event-description">We're getting married!
                        <div class="event-dress-code">Dress Code: Ethnic</div>
                    </div>
                    <div class="calendar-button">Add To Calendar</div>
                </div>
            </div>
        </div>
    </div>
</div>