<div id="welcome" class="welcomeDetails d-flex flex-column align-items-center justify-content-center">
  <span class="address">
    Radisson Blu, Kaushambi,<br/> Delhi
  </span>
  <span class="date">Monday, March 12, 2018</span>
  <div class="cntdown">
      <countdown [text]="text" units="Days | Hours | Minutes | Seconds"  end="March 12, 2018"></countdown>
  </div>
  <!-- <div class="rsvp-button btn-primary" ngbButtonLabel>
    <span [ngx-scroll-to]="'#rsvp'"> RSVP Here</span>
  </div> -->
</div>