.content-card {
    min-height: 100vh;
}

.detailPane {
    max-height: 100vh;
    overflow-y: scroll;
    position: static;
    background: #fff;
    color: #3A3C3E;
    width: 39%;
    margin-left: auto;
}
